venv
.env
bin/env.bat

#**/[Tt]est*
**/__pycache__
*.pyc

asc_scrapper/generated_data
/bot_app/generated_data/
asc_scrapper/asc_data
asc_schedule*.json

inject_table.py
/generated_data/**
openapi_formatter/openapi.json

bin/test.bat
bin/seed.sh

data/openapi-formatted.json